<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <div class="menu" style="display: flex; justify-content: center;;">
        <div class="actions"
            style="border: black solid 1px; width: fit-content; padding: 20px; display: flex; align-content: space-around; flex-direction: column;">
            <a href="/products" style="margin: 20px;"><button>LIST OF PRODUCTS</button></a>
            <a href="/products/new" style="margin: 20px;"><button>ADD PRODUCT</button></a>
            <a href="/products/modify" style="margin: 20px;"><button>MODIFY PRODUCTS</button></a>
        </div>
    </div>



</body>

</html>